input:focus:not([readonly])
{
    box-shadow : 0 1px 0 0 hsl(7, 79%, 78%) !important;
    border-bottom : 1px solid hsl(7, 79%, 78%) !important;
}

input{
    border-bottom: 1px solid rgb(223, 221, 209) !important;
}
